.business_page-block_05{
    padding: 75px 0 70px;

    .partners_header_wrapper{
        letter-spacing: -0.2px;
        margin-bottom: 45px;
    }

    .partners_desr_text{
        font-size: 16px;
        margin-top: 15px;
        letter-spacing: -0.01em;
    }

    .business_page-partners-logo{
        display: inline-block;
        max-width: 14%;
        min-width: 90px;
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width: 1060px) {
    .business_page-block_05{
        padding-bottom: 50px;

        .partners_logo_wrapper{
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .business_page-partners-logo {
            padding: 0 10px;
        }
    }
}


@media screen and (max-width: 760px) {
    .business_page-block_05 {
        padding-bottom: 50px;

        .business_page-partners-logo{
            max-width: 25%;
            min-width: 60px;
            padding: 0 3px;
            -webkit-flex: 0 1 25%;
            -moz-flex: 0 1 25%;
            -ms-flex: 0 1 25%;
            flex: 0 1 25%;
        }
    }
}

@media screen and (max-width: 650px) {
    .business_page-block_05 {
        .business_page-partners-logo{
            img{
                width: 120%;
                padding: 0 5px;
            }
        }

        .testimonial-wrap{
            padding: 40px 20px 30px 25px;
        }
    }
}